
.normal {
  /*width: 1242px;*/
}

table, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 95%;
  height: auto;
  position: relative;
  left: 2%;
}

th {
  padding: 15px;
  text-align: left;
  font-size: 0.875em;
  font-weight: normal;
  height: auto;
}
